terraform/.terraform/
terraform/.build/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.*
terraform/rescue-state.json
terraform/.terraform.lock.hcl
frontend/node_modules/
frontend/dist/
