PORT=4001
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=identity_db
JWT_SECRET=supersecret
ADMIN_EMAIL=admin@bookish.com
ADMIN_PASSWORD=Admin@123
USER_EMAIL=user@bookish.com
USER_PASSWORD=User@123
